{% extends 'layout.html' %}
{% block body %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create and Recieve</title>
     <link ref="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/Estilos.css')}}">
</head>

<body style="background-color:salmon">

    <header>
        <h1 style="color:crimson">Recieve The Word of the day!</h1>
    </header>
  

<form method="POST" action="{{url_for('CreateandRecieve')}}">
        <H1>Enter your details </H1> <br>
        Name <h3><input type = "text" name= "name" /> <br></h3>
        Surname <h3><input type = "text" name = "surname" /> <br></h3>
        Password <h3><input type = "text" name = "password" /> <br></h3>
        Email <h3><input type = "text" name = "email" /> <br></h3>
        Comfirm your pass <h3><input type = "text" name = "comfirmpass" /> <br></h3>
        Add to list of requested Authors<input type = "text" name = "futureAuthors" /> <br></h3>
        <input type = "submit">
   </form>



    

</body>
{% with messages = get_flashed_messages() %}
        {%if messages%}
        {%for message in messages%}
        {{message}}

        {%endfor%}
        {%endif%}
        {%endwith%}
<br>
<p style='background-color: #00FFFF'>See requested Authors...</p>
 <table border =3>
   {% for i in info2 %}
      <tr>
      <th><li>{{ i[0] }}</li></th>
      <br>
            <th><li>{{ i[1] }}</li></th>
<br>
      <th><li>{{ i[2] }}</li></th>

      </tr>
{% endfor %}
{% endblock %}
