{% extends 'layout.html' %}
{% block body %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="Descripción" content="Citas Bíblicas">
    <title>DE QUE SE TRATA</title>
    

</head>

<body>
    <header>
        <h1>DE QUE SE TRATA</h1>
    </header>
    
    <center><image scr="{{ url_for('static', filename = 'images/Dios es amor.png')}}" width="250" height="200" class="ImageBorder" /></center>
    <br>
    <br>
    <br>
    <div class="box-A">

        <!--Introduction-->
        <center>
            <section>
                <span>
                Mesías en el cristianismo es el Hijo de Dios.<br> 
                Cristo se convirtió en la designación y título<br> 
                cristiano aceptado de Jesús de Nazaret,porque los<br> 
                cristianos creen que las profecías mesiánicas en<br>
                el Antiguo Testamento se cumplieron en su misión,<br>
                muerte y resurrección.
            </span>
            </section>
        </center>

        <!--Main article-->
            <article>
                <h2><strong>¿QUÉ DICE LA BIBLIA?</strong></h2>
                <span>  
                    La Biblia no es solo un libro, sino una biblioteca completa, con historias, canciones, poesía, letras e historia, así como literatura que obviamente podría describirse como 'religiosa'.
                    La Biblia cristiana tiene dos secciones, el Antiguo Testamento y el Nuevo Testamento. El Antiguo Testamento es la Biblia hebrea original, los escritos sagrados de la fe judía.
                    Según la profecía bíblica, el Mesías, o Cristo, vendría en dos roles diferentes, separados por un largo período de tiempo.En su primer papel, sería un humano. 
                    Para que pudiera ser claramente reconocido, los escritores de la Biblia predijeron muchos aspectos de su vida y ministerio. De hecho, el "testimonio sobre Jesús" 
                    es un objetivo primario de la profecía bíblica. Apocalipsis 19:10.</span>

                <div>
                    <p>El Mesías lo sería. . .</p>
                    <br>
                    <br>
                    <div>Un descendiente del rey David. — Isaías 9: 7; Lucas 3: 23-31.</div>
                    <br>
                    <div>Nacido en la ciudad de Belén. Miqueas 5: 2; Lucas 2: 4-7.</div>
                    <br>
                    <div>Un humilde proclamador de "buenas noticias". Isaías 61: 1; Lucas 4:43.</div>
                    <br>
                    <div>Despreciado y no se le tiene en cuenta. Isaías 53: 3; Mateo 26:67, 68.</div>
                    <br>
                    <div>Traicionado por 30 piezas de plata. — Zacarías 11:12, 13; Mateo 26: 14-15.</div>
                    <br>
                    <div>Silencioso ante sus acusadores cuando injustamente lo condenaron a muerte. Isaías 53: 6, 7; Mateo 27: 12-14.</div>
                    <br>
                    <div>Un "cordero" de sacrificio, que anularía el pecado y permitiría a los humanos tener una posición limpia ante Dios. Isaías 53: 7; Juan 1:29, 34, 36.</div>
                    <br>
                    <div>Asesinado sin que se rompa ninguno de sus huesos. Salmo 34:20; Juan 19:33, 36.</div>
                    <br>
                    <div>Enterrado con los ricos. Isaías 53: 9; Mateo 27: 57-60.</div>
                    <br>
                    <div>Resucitó al tercer día. Mateo 16:21; 28: 5-7.</div>
                    <br>
                    <br>
                </div>
            </article>
            </section>

        
{% endblock%}