{% extends 'layout.html' %}
{% block body %}
    
    <center>
    <form method="POST" action="{{url_for('customerQuotes')}}" >
    <H1>Enter your Quote</H1> <br>
        Enter A NickName<h3><input type = "text" name= "NICK_NAME"></h3><br>
        Create Your Quote<h3><input type = "text" name= "QUOTE"></h3><br>
        Enter the number of your Favorite Author<h3><input type = "text" name= "FAVORITE_AUTHOR"></h3><br>
        1.Joel Osteen   <br>
        2.Victora Osteen <br>
        3.Joyce Meyers <br>
        4.Priscilla Shirer <br>
        5.Lisa Osteen <br>
        <br>
        <input type = "submit">
    </form>
<br>
<br>
 
    
    <form method="POST" action="{{url_for('delete')}}">
        <center>
        <H1>Delete My Entry</H1><br>
        Delete <h3><input type = "text" name= "NICK_NAME"> <br></h3>
        <input type = "submit">
        </center>
    </form>
<br>
<br>
    <form method="POST" action="{{url_for('update')}}">
        <center>
        Enter A NickName<h3><input type = "text" name= "NICK_NAME"> <br></h3>
        Update Your Quote<h3><input type = "text" name= "QUOTE"> <br></h3>
        Update Your Author<h3><input type = "text" name= "FAVORITE_AUTHOR"> <br></h3>
        <input type = "submit">
        </center>
</form>
</center>
 
{% endblock%}
    